GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-me
GF_SERVER_DOMAIN=193.238.134.58
GF_SERVER_ROOT_URL=http://193.238.134.58:3000
GF_AUTH_ANONYMOUS_ENABLED=false
GF_USERS_ALLOW_SIGN_UP=false
PROMETHEUS_CONFIG_FILE=prometheus.yml
PROMETHEUS_PORT_BIND=127.0.0.1:9090:9090
ALERTMANAGER_PORT_BIND=127.0.0.1:9093:9093
GRAFANA_PORT_BIND=3000:3000
TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_CHAT_ID=123456789
TELEGRAM_SEND_RESOLVED=true
